<style>
  #action-media-wrapper{
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    display: flex;
  }

  #action-media{
    height: 526px;
    max-width: 690px;
  }

  #action-media-and-text{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  @media screen and (max-width: 768px) {
    #action-media-and-text{
      margin-left: 0;
      margin-top: 10%;
    }

    #action-media-wrapper{
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 10% 0 0 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    #action-media{
      height: 350px;
    }
    #wrapper{
      padding-top: 5%;
    }
    #working-example{
      margin-top: 10%;
      margin-bottom: 0;
      text-align: center;
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      padding-top: 5%;
    }
  }
</style>
