{% extends 'base.html' %}
{% load static %}

{% block title %}HOME{% endblock title %}

{% block styles %}
<style>
  #event-card{
    transition: transform 0.2s ease-in-out;
  }

  #event-card:hover{
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
      transform: scale(1.05);
  }

  @media (max-width: 768px) {
    #wrapper{
      padding: 2rem 1rem;
    }
    #section-2{
      padding-top: 2rem;
    }
  }
</style>
{% endblock styles %}

{% block content %}
<section class="text-gray-600 body-font">
    <div id="wrapper" class="container px-5 pt-24 mx-auto">
      <div class="flex flex-wrap w-full">
        <div class="animate-bounce h-12 lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
            {% if user.is_authenticated %}
              {% if user.first_name %}
                Hi {{user.first_name|capfirst}},
                {% else %}
                Hi there,
                {% endif %}
            {% else %}
                Hi there,
            {% endif %} 
        </h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500" style="text-align: justify; text-justify: inter-word;">
            <span style="font-size: 17px"><b> JellyBot - Drowning Detection and Rescue Operations website! </b></span><br>
            <span>
              <br>
              Welcome to our web-app! <br>
              Are you looking for a comprehensive solution to keep your loved ones safe near water? <br>
              Whether you're a parent, a lifeguard, or just someone who loves spending time by the pool or beach, JellyBot is the app you need. <br><br>
              Look no further! Our app offers four powerful modules to help detect potential dangers and plan for rescue.
              With human detection, pose detection, drown detection, and rescue planning, we've got you covered from every angle.
              Don't take any chances with water safety - try our app today and enjoy peace of mind knowing your loved ones are protected.
            </span>
        </p>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div id="section-2" class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">We believe safety should be a top priority for everyone.</h1>
          <div class="leading-relaxed">
            We use cutting-edge technology to detect potential dangers and provide actionable insights to help prevent accidents before they happen. 
            With <b>JellyBot</b>, you can rest easy knowing that you're always one step ahead when it comes to water safety.</div>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <h2 class="title-font font-medium text-3xl text-gray-900">2.6K</h2>
          <p class="leading-relaxed">Users</p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <h2 class="title-font font-medium text-3xl text-gray-900">1.7K</h2>
          <p class="leading-relaxed">Subscribes</p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <a href="{% url 'Logs' %}">
          <h2 class="title-font font-medium text-3xl text-gray-900">43</h2>
          <p class="leading-relaxed">Runs Today</p>
          </a>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <a href="{% url 'Actions' %}">
          <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
          <p class="leading-relaxed">Actions</p>
          </a>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://i.ibb.co/BVbPKZd/JellyBot.png" alt="JellyBot">
      </div>
    </div>
  </section>
{% endblock content %}