{% extends 'base.html' %}

{% block title %}Sign-Up{% endblock title %}

{% block content %}
    {% if action.action == 'Human Detection' %}
        {% include 'Actions/human_detection.html' %}
    {% elif action.action == 'Pose Detection' %}
        {% include 'Actions/pose_detection.html' %}
    {% elif action.action == 'Drowning Detection' %}
        {% include 'Actions/drowning_detection.html' %}
    {% elif action.action == 'Path Planning' %}
        {% include 'Actions/rescue_plan.html' %}
    {% endif %}
{% endblock content %}